<!DOCTYPE html>
<html>
<head>
  <title>Edit Customers</title>
  <link rel='stylesheet' href='/stylesheets/admin-pages.css'/>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="/scripts/admin_edit_users.js" defer></script>
</head>
<body>

<h1 style="color: #ffffff; background: #ffcc00; text-align: center">Edit Customers Page</h1>
<p style="color: #ffffff; background: #ffcc00; text-align: center; margin-top: -8px"><a href="/admin/dashboard">Dashboard</a></p>

<nav class="navbar navbar-light bg-light">
  <a href="#existing-customers">Existing Customers</a> <a href="#add-customer">Add Customer</a>
  <a href="#edit-customer">Edit Customer</a> <a href="#delete-customer">Delete Customer</a>
</nav>
<br>

<% if (message != '') { %>
  <div id = "success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
    <%= message %>
    <button type="button" class="close" data-dismiss="alert" onclick="closeAlert()" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
<% } %>

<h2 id="existing-customers">Existing Customers</h2>
<p>
  <label for="search-users">Search Users:</label>
  <input type="text" id="search-users-input" name="search_users" class="form-control"/>
</p>
<p>There are <span id="user-count"><%= users.length %></span> matching users.</p>
<table id="users-display" style="border-spacing: 10px;" class="table table-bordered">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Email</th>
    </tr>
  </thead>
  <tbody>
  <% for (const { id, name, email } of users) { %>
    <tr>
      <td><%= id%></td>
      <td><%= name%></td>
      <td><%= email%></td>
    </tr>
  <%} %>
  </tbody>
</table>
<br>
<br>

<h2 id="add-customer">Add Customer</h2>
<form action="/admin/add_user" method="POST">
  <p>
    <label for="add-user-name">Customer Name:</label>
    <input type="text" id="add-user-name" name="user_name" placeholder="JohnSmith" class="form-control">
  </p>
  <p>
    <label for="add-user-email">Email:</label>
    <input type="text" id="add-email" name="email" placeholder="a@a.com" class="form-control">
  </p>
  <p>
    <label for="add-user-password">Password:</label>
    <input type="password" id="add-password" name="password" placeholder="" class="form-control">
  </p>
  <button type="submit" class="btn btn-primary">Add Customer</button>
</form>
<br>
<br>


<h2 id="edit-customer">Edit Customer</h2>
<form action="/admin/edit_user" method="POST">
  <p>
    <label for="user-id">Customer Id:</label>
    <select id="user-id" name="user_id" class="form-control">
      <% for (const {id} of users) { %>
        <option><%= id %></option>
      <% } %>
    </select>
  </p>
  <p>
    <label for="edit-user-name">New Customer Name (optional):</label>
    <input type="text" id="edit-user-name" name="new_user_name" placeholder="JohnSmith" class="form-control">
  </p>
  <p>
    <label for="edit-email">New Email (optional):</label>
    <input type="text" id="edit-email" name="new_email" placeholder="a@a.com" class="form-control">
  </p>
  <p>
    <label for="edit-password">New Password (optional):</label>
    <input type="password" id="edit-password" name="new_password" placeholder="" class="form-control">
  </p>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>
<br>
<br>

<h2 id="delete-customer">Delete Customer</h2>
<form action="/admin/delete_user" method="POST">
  <p>
    <label for="user-id">Customer Id:</label>
    <select id="delete-user-id" name="user_id" class="form-control">
      <% for (const {id} of users) { %>
        <option><%= id %></option>
      <% } %>
    </select>
  </p>
  <p>
    <label for = "user-name">Customer Name: </label>
    <input type="text" id="user-name" placeholder="Customer's Name" readonly="readonly" class="form-control">
  </p>
  <button type="submit" class="btn btn-danger">Delete</button>
</form>

</body>
</html>
