<!DOCTYPE HTML>
<html>

<head>
    <title>Statistics</title>
    <link rel='stylesheet' href='/stylesheets/admin-pages.css'/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<h1 style="color: #ffffff; background: #ffcc00; text-align: center">Statistics Page</h1>
<p style="color: #ffffff; background: #ffcc00; text-align: center; margin-top: -8px"><a href="/admin/dashboard">Dashboard</a></p>

<nav class="navbar navbar-light bg-light">
    <a href="#restaurant-cuisine-count">Restaurant Cuisine Count</a>
    <a href="#most-booked-restaurants">Most Booked Restaurants</a>
    <a href="#most-popular-hours">Most Popular Hours</a>
</nav>
<br>

<h2 id="restaurant-cuisine-count">Restaurant Cuisine Count</h2>
<table id ="cuisine-count-display" style="border-spacing: 10px;" class="table table-bordered">
    <thead>
    <tr>
        <th>Cuisine</th>
        <th>Number of Restaurants</th>
    </tr>
    </thead>
    <tbody>
    <% for (const { cuisine, count } of cuisineCount) { %>
        <tr>
            <td><%= cuisine%></td>
            <td><%= count%></td>
        </tr>
    <%} %>
    </tbody>
</table>
<br>
<br>
<h2 id="most-booked-restaurants">Most Booked Restaurants</h2>
<table id ="most-booked-count-display" style="border-spacing: 10px;" class="table table-bordered">
    <thead>
    <tr>
        <th>Branch Name</th>
        <th>Restaurant Name</th>
        <th>Booking Count</th>
    </tr>
    </thead>
    <tbody>
    <% for (const { branch_name, restaurant_name, count } of bookingCount) { %>
        <tr>
            <td><%= branch_name%></td>
            <td><%= restaurant_name%></td>
            <td><%= count%></td>
        </tr>
    <%} %>
    </tbody>
</table>
<br>
<h2 id="most-popular-hours">Most Popular Hours</h2>
<table id ="most-booked-count-display" style="border-spacing: 10px;" class="table table-bordered">
    <thead>
    <tr>
        <th>Timing</th>
        <th>Branch Name</th>
        <th>Booking Count</th>
    </tr>
    </thead>
    <tbody>
    <% for (const { time_list, branch_name, booking_count } of popularTiming) { %>
        <tr>
            <td><%= time_list%></td>
            <td><%= branch_name%></td>
            <td><%= booking_count%></td>
        </tr>
    <%} %>
    </tbody>
</table>

</HTML>