<!DOCTYPE html>
<html>
<head>
    <title>Edit Restaurants</title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="/scripts/admin-edit-restaurants.js" defer></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<% if (message != '') { %>
    <div id = "success-alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <%= message %>
        <button type="button" class="close" data-dismiss="alert" onclick="closeAlert()" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
<% } %>

<h2>Existing Restaurants</h2>
<p>
    <label for="search-restaurants">Search Restaurants:</label>
    <input type="text" id="search-restaurants-input" name="search_restaurants"/>
</p>
<p>There are <span id="restaurants-count"><%= restaurants.length %></span> matching restaurants.</p>
<table id ="restaurants-display" style="border-spacing: 10px;">
    <thead>
    <tr>
        <th>Id</th>
        <th>Account Name</th>
        <th>Restaurant Name</th>
    </tr>
    </thead>
    <tbody>
    <% for (const { id, account_name, restaurant_name } of restaurants) { %>
        <tr>
            <td><%= id%></td>
            <td><%= account_name%></td>
            <td><%= restaurant_name%></td>
        </tr>
    <%} %>
    </tbody>
</table>
<br>
<br>
<h2>Edit Restaurant</h2>

<form action="/admin/edit_restaurant" method="POST">
    <p>
        <label for="restaurant-id">Restaurant Id:</label>
        <select id = id="restaurant-id" name="restaurant_id">
            <% for (const { id } of restaurants) { %>
                <option><%= id%></option>
            <%} %>
        </select>
    </p>
    <p>
        <label for="edit-restaurant-account-name">New Restaurant Account Name:</label>
        <input type="text" id="edit-restaurant-account-name" name="new_restaurant_account_name" placeholder="NewRestaurantAccountName">
    </p>
    <p>
        <label for="edit-restaurant-name">New Restaurant Name:</label>
        <input type="text" id="edit-restaurant-name" name="new_restaurant_name" placeholder="Wing Hut">
    </p>
    <button type="submit">Save Changes</button>
</form>
<br>
<br>
<h2>Delete Restaurant</h2>
<form action="/admin/delete_restaurant" method="POST">
    <p>
        <label for="restaurant-id">Restaurant Id:</label>
        <select id = id="restaurant-id" name="restaurant_id">
            <% for (const { id } of restaurants) { %>
                <option><%= id%></option>
            <%} %>
        </select>
    </p>
    <button type="submit">Delete</button>
</form>
</html>