<% include customerTemplate/afterLoginHeader %>

<head>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
		  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script>
		function closeAlert() {
			var x = document.getElementById("success-alert");
			x.remove();
		}
	</script>
</head>

<div class="container" style="padding-top: 25px;">

	<% if (message != '') { %>
		<div id = "success-alert" class="alert alert-info alert-dismissible fade show" role="alert">
			<%= message %>
			<button type="button" class="close" data-dismiss="alert" onclick="closeAlert()" aria-label="Close">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
	<% } %>

	<div class="row">
		<div class="col-lg-2">
			<form method="get" action="chooseLocation">
				<button class="btn btn-primary" type="submit">Make Reservation</button>
			</form>
		</div>
	</div>
	
	<div class="row" style="padding-top: 25px;">
		<div class="col-lg-12">
		<h3>Current Reservations</h3>
		</div>
		<div class="col-lg-12" style="padding-top: 50px; padding-bottom: 50px;">
			<% if(data.rowCount > 0){ %>
			<table id="currentReservation">
				<tr>
					<td></td>
					<td>Address</td>
					<td>Num of Pax</td>
					<td>Time</td>
				</tr>
				<% for(var i=0; i<data.rows.length; i++) { %>
				<form method="post" action="deleteReservation">
					<tr>
						<td><%= data.rows[i].name%></td>
						<td><%= data.rows[i].address%></td>
						<td><%= data.rows[i].num%></td>
						<td><%= data.rows[i].time%></td>
						<input type="hidden" name="branchName" value="<%= data.rows[i].name%>">
						<input type="hidden" name="num" value="<%= data.rows[i].num%>">
						<input type="hidden" name="id" value="<%= data.rows[i].id%>">
						<td><button type="submit">Delete</button></td>
					</tr>
				</form>
				<%
					}
				}
				else{
				%>
				You have no upcoming reservations!
				<%
				}
				%>
			</table>
		</div>
	</div>

</div>
	
<% include customerTemplate/footer %>
