<!DOCTYPE html>
<html>
  <head>
    <title><%= restaurant_name %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <p><%= restaurant_name %> Dashboard</p>
    <h1>Welcome, <%= account_name %></h1>
    <p><a href="/restaurants/edit">Account settings</a></p>
    <h2>Branches</h2>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Available/Capacity</th>
          <th>Map</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (const { id, name, address, plus_code, capacity } of branches) { %>
          <tr>
            <td><%= name %></td>
            <td><%= address %></td>
            <td><%= capacity %></td>
            <td><% if (plus_code) {%>
              <iframe
                width="160"
                height="160"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyC7XV830fTBzmprQW1s0Bv4NH1l9E1tH_4&q=<%= encodeURIComponent(plus_code) %>" allowfullscreen>
              </iframe>
            <% } %>
            </td>
            <td><a href="/restaurants/branch/<%= id.replace(/-/g,'') %>/edit">Edit</a></td>
            <td>
              <form action="/restaurants/branch/<%= id.replace(/-/g,'') %>/delete" method="POST">
                <button type="submit">Delete!</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <p><a href="/restaurants/branch/new/new">Register new branch</a></p>
    <h2>Cuisines Served</h2>
    <table>
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <% for (const { id, name } of cuisines) { %>
      <tr>
        <td><%= name %></td>
        <td>
          <form action="/restaurants/cuisine/<%= id.replace(/-/g,'') %>/delete" method="POST">
            <button type="submit">Delete!</button>
          </form>
        </td>
      </tr>
      <% } %>
      </tbody>
    </table>
    <h3>Add Cuisines</h3>
    <form action="/restaurants/cuisine/new/new" method="POST">
      <p>
        <label for="new-cuisine-name">Cuisine name: </label>
        <input type="text" id="new-cuisine-name" name="cuisine_name">
      </p>
      <button type="submit">Add</button>
    </form>
    <h2>Menu</h2>
    <p>
      Note: the menu is shared across all branches, but branches can
      override menu items with custom prices,
      exclusive items, and also exclude items from the restaurant menu.
    </p>
    <h3>Current Menu</h3>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Price</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        <% for (const { id, name, cents } of menu) { %>
          <tr>
            <td><%= name %></td>
            <td><%= cents.toString().slice(0, -2) + "." + cents.toString().slice(-2) %></td>
            <td>
              <form action="/restaurants/menu/<%= id.replace(/-/g,'') %>/delete" method="POST">
                <button type="submit">Delete!</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <h3>Add Menu Item</h3>
    <form action="/restaurants/menu/new/new" method="POST">
      <p>
        <label for="new-menu-item-name">Menu item name: </label>
        <input type="text" id="new-menu-item-name" name="name">
      </p>
      <p>
        <label for="new-menu-item-price">Menu item price: </label>
        <input type="number" id="new-menu-item-price" name="price" min="0" step="0.01">
      </p>
      <button type="submit">Add</button>
    </form>
    <h2>Operating Hours Template</h2>
    <p>
      Note: when a branch is created, it is created with the open hours
      specified in this template. The template is used only for this
      purpose: it does not affect the operating hours of the branch.
    </p>
    <h3>Current Operating Hours</h3>
    <table>
      <thead>
        <tr>
          <th>Start day</th>
          <th>Start time</th>
          <th>End day</th>
          <th>End time</th>
          <th>Delete?</th>
        </tr>
      </thead>
      <tbody>
        <% for (const { id, restaurant_id, start_day, start_time, end_day, end_time } of hours) { %>
          <tr>
            <td><%= intToDayStr(start_day) %></td>
            <td><%= start_time.slice(0, -3) %></td>
            <td><%= intToDayStr(end_day) %></td>
            <td><%= end_time.slice(0, -3) %></td>
            <td>
              <form action="/restaurants/hours/<%= id.replace(/-/g,'') %>/delete" method="POST">
                <button type="submit">Delete!</button>
              </form>
            </td>
          </tr>
        <% } %>
      </tbody>
    </table>
    <h3>Add Operating Hours to Template</h3>
    <form action="/restaurants/hours/new/new" method="POST">
      <p>
        <label for="new-hours-start-day">Start day of week: </label>
        <select id="new-hours-start-day" name="start_day" required>
          <option value="">Please choose a day</option>
          <option value="0">Sunday</option>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
        </select>
      </p>
      <p>
        <label for="new-hours-start-time">Start time of day: </label>
        <input type="time" id="new-hours-start-time" name="start_time" required>
      </p>
      <p>
        <label for="new-hours-end-day">End day of week: </label>
        <select id="new-hours-end-day" name="end_day" required>
          <option value="">Please choose a day</option>
          <option value="0">Sunday</option>
          <option value="1">Monday</option>
          <option value="2">Tuesday</option>
          <option value="3">Wednesday</option>
          <option value="4">Thursday</option>
          <option value="5">Friday</option>
          <option value="6">Saturday</option>
        </select>
      </p>
      <p>
        <label for="new-hours-end-time">End time of day: </label>
        <input type="time" id="new-hours-end-time" name="end_time" required>
      </p>
      <button type="submit">Add</button>
    </form>
    <p><a href="/restaurants/logout">Logout</a></p>
  </body>
</html>
